@import "nullstyle";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

//========================================================================================================================================================
// GENERAL
body {
    font-family: "Inter", sans-serif;
}

[class*="__container"] {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 30px;
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: 1440) {
        max-width: 1230px;
    }
    @media (max-width: 940px) {
        max-width: 800px;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (max-width: 787px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media (max-width: 587px) {
        padding-left: 8px;
        padding-right: 8px;
    }
    @media (max-width: 400px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.wrraper {
    position: relative;
    min-height: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrraper > main {
    flex-grow: 1;
}
.download-cv {
    position: relative;
    z-index: 2;
    margin: 0;
    display: block;
    max-width: 800px;
    border-radius: 6px;
    text-align: center;
    padding: 22px;
    background-color: #343434;
    font-size: 32px;
    color: #d9d9d9;
    box-shadow:
        0px 0px 1px #777777,
        0 46px 34px -33px #345555,
        inset 0 0 12px 2px #343434;
    transition: all 0.3s ease 0s;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: #777777;
        }
    }
    &:active {
        transition: all 0.1s ease 0s;
        color: #345555;
    }
    @media (max-width: 540px) {
        font-size: 18px;
        line-height: 1.2;
    }
}
//========================================================================================================================================================
// HEADER
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #d9d9d9;
    font-size: 40px;
    padding: 0;
    box-shadow: 0px 8px 10px 8px rgba(0, 0, 0, 0.25);
    &__container {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        column-gap: 12px;
        justify-content: space-between;
        align-items: center;
        .name {
            max-width: 350px;
            flex: 1 1 33%;
            @media (max-width: 940px) {
                font-size: 20px;
            }
            @media (max-width: 540px) {
                font-size: 18px;
            }
        }
        .profession {
            text-align: center;
            @media (max-width: 640px) {
                font-size: 18px;
            }
        }
        .contact-btn {
            display: block;
            flex: 0 1 30%;
            border-radius: 6px;
            text-align: center;
            padding: 22px;
            background-color: #343434;
            font-size: 32px;
            color: #d9d9d9;
            box-shadow:
                0px 0px 1px #777777,
                0 46px 34px -33px #345555,
                inset 0 0 12px 2px #343434;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #777777;
                }
            }
            &:active {
                transition: all 0.1s ease 0s;
                color: #345555;
            }
            @media (max-width: 540px) {
                font-size: 18px;
                line-height: 1.2;
            }
        }
        @media (max-width: 540px) {
            column-gap: 5px;
        }
    }
}
//========================================================================================================================================================

@keyframes bgmoove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-10%, -100%);
    }
}
// MAIN
.main {
    // padding-top: 100px;
    // background: #343434;

    .about {
        position: relative;
        background-color: #444;
        // .about__background
        &__background {
            background-color: #272822;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            overflow: hidden;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(13deg, #343434 34%, #34343477 70%, #34343433 80%);
                z-index: 2;
            }

            span {
                position: relative;
                z-index: 1;
                transform: matrix(0.98, -0.19, 0.49, 0.92, 6, 0);
                filter: blur(3px) grayscale(80%);
                display: block;
                width: 200%;
                height: 200%;
                background: url("../img/bg/header-code.png") 0 0/ 100% repeat-y;
                animation: bgmoove 35s linear infinite alternate;
            }

            img {
                display: none;
                width: 100%;
            }
        }
        &__container {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            position: relative;
            z-index: 2;
            .text-content {
                position: relative;
                z-index: 1;
                // max-width: 862px;
                flex: 1 1 862px;
                background-color: #d9d9d987;
                padding: 50px;
                border-radius: 6px;
                box-shadow: 0px 8px 10px 8px rgba(0, 0, 0, 0.25);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                & > div {
                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }
                }
                .name-title {
                    font-weight: bold;
                    font-size: 64px;
                    line-height: 2;
                    text-shadow: 0 0 45px #345555;
                    @media (max-width: 540px) {
                        font-size: 44px;
                        line-height: 1.2;
                    }
                }
                .achievements {
                    font-size: 32px;
                    line-height: 1.5;
                    &:not(:last-child) {
                        margin-bottom: 40px;
                    }
                    @media (max-width: 540px) {
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
            }
            .image-content {
                flex: 0 1 30%;
                min-height: 540px;
                background-color: #fff;
                overflow: hidden;
                border-radius: 6px;
                position: relative;
                z-index: 2;
                padding-bottom: 27.847222%;
                box-shadow: 0px 8px 10px 8px rgba(0, 0, 0, 0.25);
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform: scaleX(-1);
                    top: 0px;
                    left: 0;
                    object-fit: cover;
                }
            }
            @media (max-width: 1024px) {
                .text-content {
                    border-radius: 6px;
                }
                gap: 20px;
                .text-content {
                    flex: 1 1 60%;
                }
                .image-content {
                    flex: 1 1 30%;
                    max-width: 38%;
                }
            }
            @media (max-width: 768px) {
                flex-direction: column-reverse;
                .text-content {
                    flex: 1 1 100%;
                }
                .image-content {
                    flex: 1 1 100%;
                    min-height: 300px;
                    max-width: 100%;
                }
            }
        }
    }

    .portfolio {
        background-color: #d9d9d9;
        // .portfolio__container

        &__container {
            max-width: 100%;
            padding: 30px 0%;
            // max-width: 30%;
        }

        // .portfolio__title

        &__title {
            color: #000;
            text-align: center;
            font-size: 48px;
            font-weight: 700;
            line-height: 2;
            margin-bottom: 50px;
            text-shadow: 0 0 45px #345555;
            @media (max-width: 450px) {
                font-size: 34px;
            }
        }

        // .portfolio__slider

        &__slider {
            padding: 50px 0;
        }

        // .portfolio__wrapper

        &__wrapper {
        }

        // .portfolio__slide

        &__slide {
            box-shadow: 0 0 34px 1px transparent;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    .portfolio__item {
                        box-shadow: 0 0 76px 1px #34343422;
                        transition: all 0.3s ease 0s;
                    }
                }
            }
        }

        // .portfolio__item

        &__item {
            transition: all 0.3s ease 0s;
        }

        .swiper-pagination {
        }

        .swiper-pagination-bullet {
            background-color: #eef7fb;
            opacity: 1;
            width: 12px;
            height: 12px;
            margin: 0 3px;
        }

        .swiper-pagination-bullet-active {
            background-color: #343434;
        }

        .swiper-button-prev {
        }
        .swiper-button-next {
        }
        .swiper-scrollbar {
        }
        .swiper {
            @media (max-width: 1024px) {
                text-align: center;
                max-width: 500px;
                margin: 0 auto;
            }
            @media (max-width: 768px) {
                text-align: center;
                max-width: 400px;
            }
            @media (max-width: 600px) {
                text-align: center;
                max-width: 380px;
            }
            @media (max-width: 500px) {
                text-align: center;
                max-width: 300px;
            }
            @media (max-width: 400px) {
                text-align: center;
                max-width: 280px;
                margin: 0 auto;
            }
        }
        .swiper-wrapper {
        }
        .swiper-slide {
        }

        .preview {
            display: block;
            background-color: #f5f5f5;
            border-radius: 6px;
            overflow: hidden;
            padding-bottom: 24px;
            // height: 460px;

            // .preview__img-cnt

            &__img-cnt {
                padding: 12px;
                border-radius: 6px;
                overflow: hidden;
                display: grid;
                grid-template-columns: 6fr 4.81fr;
                grid-template-rows: 1.17fr 1fr;
                gap: 24px 24px;
                grid-template-areas:
                    "pc mobile"
                    "tablet mobile";
                @media (max-width: 768px) {
                    gap: 8px 8px;
                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: 1fr 1.6fr;

                    grid-template-areas:
                        "tablet mobile"
                        "pc pc";
                }
            }
            .mobile {
                grid-area: mobile;
                align-self: stretch;
            }
            .tablet {
                grid-area: tablet;
            }
            .pc {
                grid-area: pc;
            }
            // .preview__img

            &__img {
                transition: all 0.3s ease 0s;
                display: block;
                border-radius: 6px;
                width: 100%;
                box-shadow: 0 0 12px #777;
                @media (any-hover: hover) {
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }

            // .preview__text

            &__text {
                text-align: center;
                color: #343434;
                padding: 24px;
            }

            // .preview__title

            &__title {
                font-size: 24px;
                font-weight: 900;
                line-height: 2;
                text-shadow: 0 0 45px #345555;
            }

            // .preview__subtitle

            &__subtitle {
                font-size: 20px;
                line-height: 1.6;
            }
        }
    }

    .skills {
        background-color: #343434;
        // .skills__container

        &__container {
        }

        // .skills__title

        &__title {
            color: #fff;
            text-align: center;
            font-size: 48px;
            font-weight: 700;
            line-height: 2;
            text-shadow: 0 0 45px #345555;
            &:not(:last-child) {
                margin-bottom: 80px;
            }
            @media (max-width: 450px) {
                font-size: 34px;
            }
        }

        // .skills__grid

        &__grid {
            border-radius: 6px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 12px;
            position: relative;
            &::before {
                content: "";
                width: 95%;
                height: 90%;
                left: 2.5%;
                top: 5%;
                position: absolute;
                background-color: #787878;
                box-shadow: 0 0 12px 12px #787878;
                z-index: 0;
            }
            @media (max-width: 800px) {
                grid-template-columns: repeat(1, 1fr);
                grid-auto-rows: auto;
            }
        }

        // .skills__item

        &__item {
            position: relative;
            z-index: 1;
            background-color: #fff;
            border-radius: 6px;
            overflow: hidden;
            box-shadow: 0 0 12px 2px #787878;
            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0 0 12px 2px #d9d9d9;
                }
            }
            // min-height: 212px;
        }

        // skills__certificate-cnt
        &__certificate-cnt {
        }

        .item-skill {
            display: flex;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    // transform: scale(1.01);
                    // z-index: 3;

                    .item-skill__icon {
                        background-color: #344545;
                        box-shadow: 0 0 34px 12px #344545;
                    }
                }
            }

            &__certificate-cnt {
                visibility: hidden;
                opacity: 0;
                font-size: 18px;
                line-height: 1.2;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: -100%;
                background-color: #d9d9d9;
                padding-left: 35%;
                padding-top: 30px;
                padding-right: 30px;
                transition: all 1s ease 0s;
                overflow: auto;
                box-shadow: 0 0 200px 2px #787878;
                a {
                    color: #343434;
                }
                ul li {
                    position: relative;
                    padding-left: 34px;
                }
                ul li:not(:last-child) {
                    margin-bottom: 8px;
                }
                li a span::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 3px;
                    width: 32px;
                    height: 18px;
                    background: url("../img/icons/link-solid.svg") no-repeat;
                }
            }
            // toggle className active
            &.active {
                .item-skill__certificate-cnt {
                    visibility: visible;
                    opacity: 1;
                    left: 0;
                    a {
                        @media (any-hover: hover) {
                            &:hover {
                                color: #345555;
                                text-decoration: underline;
                                & span::before {
                                    background: url("../img/icons/link-solid-active.svg") no-repeat;
                                }
                            }
                        }
                    }
                    @media (max-width: 768px) {
                        padding: 16px;
                        padding-left: 166px; /* 150/416 */
                    }
                }
                .item-skill__icon {
                    background-color: #345555;

                    &::before,
                    &::after {
                        content: "";
                        display: block;
                        width: 40%;
                        height: 20%;
                        position: absolute;
                        left: 30%;
                        bottom: -10px;
                    }
                    &::before {
                        display: none;
                        width: 20%;
                        height: 14px;
                        left: 40%;
                        bottom: 10px;
                        border-radius: 50%;
                        background: radial-gradient(#f5f5f5 0%, transparent 80%);
                        filter: blur(1px);
                        animation: mypulse 1s linear 0.5s infinite alternate;
                    }
                    &::after {
                        border-radius: 0 0 30px 30px;
                        background: linear-gradient(180deg, #f5f5f5 0%, transparent 50%);
                        opacity: 0.2;
                        // filter: blur(4px);
                        animation: mypulse 0.4s linear 0.5s 2 alternate;
                    }
                    svg {
                        animation: mypulse 0.4s linear 0.5s 2 alternate;
                        @keyframes mypulse {
                            0% {
                                transform: scale(1) rotateY(0deg);
                                filter: drop-shadow(0 0 10px #f5f5f5);
                            }
                            100% {
                                transform: scale(1.2) rotateY(180deg);

                                fill: #fff;
                                filter: drop-shadow(0 0 18px #f5f5f5);
                            }
                        }
                    }
                }
            }

            // .item-skill__icon
            &__icon {
                flex: 0 0 29.84127%; /* 188/630 */
                padding: 30px;
                background-color: #343434;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease 0s;
                svg {
                    height: 90px;
                    width: 90px;

                    fill: #fff;
                    filter: drop-shadow(0 0 18px #787878);
                }
                &::before,
                &::after {
                    content: "";
                    display: none;
                    opacity: 0;
                    transition: all 1s ease 0s;
                }
            }

            // .item-skill__text

            &__text {
                width: 100%;
                padding: 30px;
            }

            // .item-skill__title

            &__title {
                color: #343434;
                text-align: center;
                font-size: 36px;
                line-height: 1.6;
                @media (max-width: 900px) {
                    font-size: 24px;
                }
            }

            // .item-skill__description

            &__description {
                color: #787878;
                text-align: center;
                font-size: 24px;
                line-height: 1.5;
                @media (max-width: 900px) {
                    font-size: 18px;
                }
            }
        }
    }
}

//========================================================================================================================================================
// FOOTER

.footer {
    position: relative;
    background-color: #787878;
    // .footer__container
    .download-cv {
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
    .freelancehunt {
        display: flex;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        justify-content: center;
        column-gap: 1rem;
    }

    &__container {
    }

    // .footer__columns

    &__columns {
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
            flex-direction: column;
        }
    }
    &__title {
        text-align: center;
        color: #fff;
        font-size: 36px;
        line-height: 2;
        &:not(:last-child) {
            margin-bottom: 35px;
        }
        @media (max-width: 450px) {
            font-size: 24px;
        }
    }
    &__icons {
        fill: #d9d9d9;
        transition: all 0.3s ease 0s;
    }
}
.columns-footer {
    position: relative;
    z-index: 2;
    &__item {
        font-size: 18px;
        line-height: 2;
        li {
            a {
                display: inline-flex;
                align-items: center;
                column-gap: 12px;
                position: relative;
                padding-left: 32px;
                transition: all 0.3s ease 0s;
                color: #d9d9d9;
                font-size: 24px;
                svg {
                    font-size: 20px;
                    width: 32px;
                }
                @media (any-hover: hover) {
                    &:hover {
                        color: #f5f5f5;
                        text-shadow: 0 0 12px #345555;

                        .footer__icons {
                            filter: drop-shadow(0 0 12px #345555);
                            fill: #f5f5f5;
                        }
                    }
                }
                @media (max-width: 450px) {
                    font-size: 16px;
                }
            }
        }
    }
    .socials {
    }
    .contacts {
        min-width: 466px;
        @media (max-width: 768px) {
            min-width: 0;
        }
    }
    .links {
        // text-align: right;
    }
}
// addition from js
.decor-digit-columns {
    align-items: center;
    justify-self: center;
    font-size: 20px;
    color: #345555;
    text-shadow: 0 0 12px #777;
    top: 120px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 6px;
    column-gap: 2px;
}
.decor-digit-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
    z-index: 1;
    filter: blur(2px);
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, #000 10%, #34343477 50%, #78787877 80%);
    }
}
